#show-section {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(253deg, #9f009fbf, #03038ac9);    
    border-radius: 25px;
    width: 80%;
    gap: 30px;
    align-self: center;
}
.show-title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    color: #b4b4ff;
    text-shadow: 8px 8px 4px black;
}
@media only screen and (max-width: 768px) {
    .show-title{
        font-size: 40px;
    }
}
