.about-index-item-wrapper {
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 90%;
    background: linear-gradient(158deg, #cf0808, #a88a04);
    padding: 5%;
    border-radius: 20px;
    margin-bottom: 50px;
}
.rocker-image{
    width: 10rem;
    height: 17rem;
    border-radius: 45px;
}
.rocker-tag{
    display: flex;
    justify-content: space-around;
}
.rocker-name{
    display: flex;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 55px;
    color: #b4b4ff;
    text-shadow: 4px 4px 4px black;
}
.rocker-desc {
    font-family: 'Dosis', sans-serif; 
    font-size: 36px;
    color: #b4b4ff; 
    text-shadow: 2px 2px 2px black;
    line-height: 55px;
}
.rocker-inst{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 768px) {
    .rocker-desc{
        font-size: 26px;
        line-height: 45px;
    }
}