/* TOP FUNCTIONALITY */
@keyframes diagonalSlideLogo {
    from {
        transform: translate(-50vw, -50vh);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes diagonalSlideVideo {
    from {
        transform: translate(50vw, -50vh); 
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.logo {
    animation: diagonalSlideLogo 1.5s ease-out forwards;
}
.perf-vid {
    animation: diagonalSlideVideo 1.5s ease-out forwards;
}
html{
    scroll-behavior: smooth; 
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 13%;
    gap: 15%;
}
.logo {
    width: 13rem;
    display: flex;
    flex-direction: row;
    align-self: baseline;
    border-radius: 45%;
}
.perf-vid{
    min-height: 340px;
    width: 50%;
}
/* MOBILE STYLING */
@media only screen and  (max-width: 768px) {
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        margin-top: 28%;
    }
    .logo{
        width: 10rem;
        align-self: center;
        margin-bottom: 30px;
    }
    .title2{
        font-size: 45px;
    }
    .perf-vid{
        min-height: 310px;
        width: 100%;
    }
}
